/* COLOR SCHEME
#010400 black
#c0c0c0 silver
#fffbfc white
#70abaf turquoise
#99e1d9 turquoise light 
*/

body {
  padding: 0;
  margin: 0;
  /* background: #f2f6e9; */
  background: #010400 !important;
  color: #c0c0c0 !important;
}

.section-title {
  color: #70abaf;
  color: #61eee6;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/*---------- NAVIGATION BAR ----------*/

.navbar {
  background: #2e2e2e;
}

.nav-link,
.navbar-brand {
  /* color: #e9cdd0; */
  color: #70abaf;
  color: #61eee6;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #99e1d9;
}

.navbar-brand:hover {
  color: #99e1d9;
}

.navbar-collapse {
  justify-content: flex-end;
}

/*---------- HEADER ----------*/

.header {
  background-image: url('https://images.pexels.com/photos/2293507/pexels-photo-2293507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.header-description {
  color: #61eee6;
}
.header-description p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*---------- ABOUT ----------*/

.about {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.about img {
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

/*---------- PROJECTS ----------*/

.projects {
  margin: 2em auto;
  padding: 1em;
  position: relative;
  text-align: center;
}

.project-main-title {
  color: #61eee6;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.projects img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
  border-radius: 2px;
}

.project-description {
  margin-bottom: 50px;
}

/*---------- CONTACT FORM ----------*/

.contact-form {
  align-content: center;
  width: 50%;
  margin-bottom: 100px;
}

.contact-form .btn {
  background-color: #70abaf;
  color: #fffbfc;
  font-weight: 500;
  border: 1px solid #70abaf;
  width: 25% !important;
}

.contact-form .btn:hover {
  background-color: #99e1d9;
  border: 1px solid #99e1d9;
}

/*---------- FOOTER ----------*/

.page-footer {
  background-color: #2e2e2e;
  color: #fffbfc;
  padding: 30px 0;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 30px 10px;
  fill: #fffbfc;
}

.social-icon:hover {
  fill: #70abaf;
}

.footer-copyright {
  color: #666;
  padding: 30px 0 0;
}