/* COLOR SCHEME
#010400 black (main background)
#c0c0c0 silver (main text)
#fffbfc white (footer text and link hover)
#70abaf turquoise
#61eee6 turquoise bright (header, title)
*/

body {
  padding: 0;
  margin: 0;
  /* background: #f2f6e9; */
  background: #010400 !important;
  color: #c0c0c0 !important;
}

hr {
  background-color: #2e2e2e;
  width: 50%;
}

.section-title {
  color: #61eee6;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/*---------- NAVIGATION BAR ----------*/

.navbar {
  background: #2e2e2e;
}

.nav-link,
.navbar-brand {
  color: #61eee6;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #fffbfc;
}

.navbar-brand:hover {
  color: #fffbfc;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler:hover,
.navbar-toggler:enabled {
  border-color: transparent !important;
  outline: none !important;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(97,238,230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

span.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,251,252, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*---------- HEADER ----------*/

.header {
  background-image: url('https://images.pexels.com/photos/2293507/pexels-photo-2293507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.header-description {
  color: #61eee6;
}
.header-description p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*---------- ABOUT ----------*/

.about {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.about img {
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

/*---------- PROJECTS ----------*/

.projects {
  margin: 2em auto;
  padding: 1em;
  position: relative;
  text-align: center;
}

.project-main-title {
  color: #61eee6;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.projects img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
  border-radius: 2px;
}

.project-description {
  margin-bottom: 50px;
}

.project-description a {
  color: #70abaf;
}

.project-description a:hover {
  color: #fffbfc;
}

/*---------- CONTACT FORM ----------*/

.contact-form {
  align-content: center;
  width: 50%;
  margin-bottom: 100px;
}

.contact-form .btn {
  background-color: #70abaf;
  color: #fffbfc;
  font-weight: 500;
  border: 1px solid #70abaf;
  width: 25% !important;
}

.contact-form .btn:hover {
  background-color: #99e1d9;
  border: 1px solid #99e1d9;
}

/*---------- FOOTER ----------*/

.page-footer {
  background-color: #2e2e2e;
  color: #fffbfc;
  padding: 30px 0;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 30px 10px;
  fill: #fffbfc;
}

.social-icon:hover {
  fill: #61eee6;
}

.footer-copyright {
  color: #c0c0c0;
  padding: 30px 0 0;
}